<html>
<head>
    {% include 'water.html' %}
    <title>Recipe App - Sign Up</title>
</head>
<body>
    <a href="/">Home</a>
    <br>
    <br>
    <a href="/login">Log In</a>
    <h1>Sign Up</h1>
    <h2>Sign up to view or create recipes.</h2>
    <form action="" method="POST" novalidate>
        {{form.hidden_tag()}}
        <p> {{form.username.label}}</br>
        {{form.username()}}</p>

        <p>{{form.password.label}}</br>
        <p>{{form.password()}}</p>

        <p>Remember Me</p>
        <p>{{form.remember_me()}}</p>
        <p>{{form.submit()}}</p>
    </form>
</body>
</html>
